F4gDeveloperTools/WebContent/f4g-model.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:f4g="http://www.fit4green.eu/schemes/MetaModel"  
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="http://www.fit4green.eu/schemes/MetaModel">

  <xsd:element  name="FIT4Green" type="f4g:FIT4GreenType"/>
  <xsd:element  name="Site" type="f4g:SiteType"/>
  <xsd:element  name="Datacenter" type="f4g:DatacenterType"/>
  <xsd:element  name="Rack" type="f4g:RackType"/>
  <xsd:element  name="Server" type="f4g:ServerType"/>
  <xsd:element  name="CPU" type="f4g:CPUType"/>
  <xsd:element  name="RAMStick" type="f4g:RAMStickType"/>
  <xsd:element  name="HardDisk" type="f4g:HardDiskType"/>
  <xsd:element  name="StorageUnit" type="f4g:StorageUnitType"/>
  <xsd:element  name="Mainboard" type="f4g:MainboardType"/>
  <xsd:element  name="PSU" type="f4g:PSUType"/>
  <xsd:element  name="Fan" type="f4g:FanType" />
  <xsd:element  name="RAID" type="f4g:RAIDType"/>
  <xsd:element  name="Cache" type="f4g:CacheType"/>
  <xsd:element  name="Core" type="f4g:CoreType"/>
  <xsd:element  name="SolidStateDisk" type="f4g:SolidStateDiskType"/>
  <xsd:element  name="TowerServer" type="f4g:TowerServerType"/>
  <xsd:element  name="BladeServer" type="f4g:BladeServerType"/>
  <xsd:element  name="RackableServer" type="f4g:RackableServerType"/>
  <xsd:element  name="Enclosure" type="f4g:EnclosureType"/>
  <xsd:element  name="SAN" type="f4g:SANType"/>
  <xsd:element  name="PDU" type="f4g:PDUType"/>
  <xsd:element  name="NetworkNode" type="f4g:NetworkNodeType" />
  <xsd:element  name="NIC" type="f4g:NICType"/>
  <xsd:element  name="GPU" type="f4g:GPUType"/>
  <xsd:element  name="NetworkPort" type="f4g:NetworkPortType"/>
  <xsd:element  name="ATM" type="f4g:ATMType"/>
  <xsd:element  name="VPN" type="f4g:VPNType"/>
  <xsd:element  name="BoxSwitch" type="f4g:BoxSwitchType" />
  <xsd:element  name="BoxRouter" type="f4g:BoxRouterType" />
  <xsd:element  name="RackableSwitch" type="f4g:RackableSwitchType" />
  <xsd:element  name="RackableRouter" type="f4g:RackableRouterType" />
  <xsd:element  name="NativeOperatingSystem" type="f4g:NativeOperatingSystemType"/>
  <xsd:element  name="OperatingSystem" type="f4g:OperatingSystemType"/>
  <xsd:element  name="HostedHypervisor" type="f4g:HostedHypervisorType"/>
  <xsd:element  name="NativeHypervisor" type="f4g:NativeHypervisorType"/>
  <xsd:element  name="VirtualMachine" type="f4g:VirtualMachineType"/>
  <xsd:element  name="FileSystem" type="f4g:FileSystemType"/>
  <xsd:element  name="HostedOperatingSystem" type="f4g:HostedOperatingSystemType"/>
  <xsd:element  name="SoftwareNetwork" type="f4g:SoftwareNetworkType"/>
  <xsd:element  name="SoftwareRAID" type="f4g:SoftwareRAIDType"/>
  <xsd:element  name="HardwareRAID" type="f4g:HardwareRAIDType"/>
  <xsd:element  name="SoftwareApplication" type="f4g:SoftwareApplicationType"/>
  <xsd:element  name="e80211x" type="f4g:e80211xType"/>
  <xsd:element  name="Ethernet" type="f4g:EthernetType"/>
  <xsd:element  name="Tunnel" type="f4g:TunnelType"/>
  <xsd:element  name="SerialPPP" type="f4g:SerialPPPType"/>
  <xsd:element  name="OpticalFDDI" type="f4g:OpticalFDDIType"/>
  <xsd:element  name="EmbeddedGPU" type="f4g:EmbeddedGPUType"/>
  <xsd:element  name="DedicatedGPU" type="f4g:DedicatedGPUType"/>
  <xsd:element  name="Job" type="f4g:JobType"/>
  <xsd:element  name="Queue" type="f4g:QueueType"/>
  <xsd:element  name="Role" type="f4g:RoleType"/>
  <xsd:element  name="Node" type="f4g:NodeType"/>
  <xsd:element  name="ClusterManagement" type="f4g:ClusterManagementType"/>
  <xsd:element  name="FrameworkCapabilities" type="f4g:FrameworkCapabilitiesType"/>
  <xsd:element  name="NodeActions" type="f4g:NodeActionsType"/>
  <xsd:element  name="GeneralActions" type="f4g:GeneralActionsType"/>
  <xsd:element  name="VMActions" type="f4g:VMActionsType"/>
  <xsd:element  name="JobActions" type="f4g:JobActionsType"/>
  <xsd:element  name="WaterCooler" type="f4g:WaterCoolerType" />
  <xsd:element  name="Link" type="f4g:LinkType"/>
  <xsd:element  name="NetworkLoad" type="f4g:NetworkLoadType"/>
  <xsd:element  name="Flow" type="f4g:FlowType"/>
  
  <xsd:simpleType name="CPUArchitectureType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INTEL"/>
      <xsd:enumeration value="AMD"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RAMTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DDR"/>
      <xsd:enumeration value="DDR2"/>
      <xsd:enumeration value="DDR3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ServerStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ON"/>
      <xsd:enumeration value="OFF"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NodePropType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TO_BE_REVISED"/>
      <xsd:enumeration value="PROP2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NodeStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DOWN"/>
      <xsd:enumeration value="IDLE"/>
      <xsd:enumeration value="RESERVED"/>
      <xsd:enumeration value="BUSY"/>
      <xsd:enumeration value="RUNNING"/>
      <xsd:enumeration value="STANDBY"/>
      <xsd:enumeration value="HYBERNATED"/>
      <xsd:enumeration value="OFF"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="JobPropOfNodesType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TO_BE_REVISED"/>
      <xsd:enumeration value="PROP2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="JobStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="QUEUED"/>
      <xsd:enumeration value="RUNNING"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="QueuePossiblePropType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TO_BE_REVISED"/>
      <xsd:enumeration value="PROP2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="QueueForcedPropType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TO_BE_REVISED"/>
      <xsd:enumeration value="PROP2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ServerRoleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="HPC_COMPUTE_NODE"/>
      <xsd:enumeration value="HPC_RESOURCE_MANAGEMENT"/>
      <xsd:enumeration value="CLOUD_CONTROLLER"/>
      <xsd:enumeration value="CLOUD_CLUSTER_CONTROLLER"/>
      <xsd:enumeration value="CLOUD_NODE_CONTROLLER"/>
      <xsd:enumeration value="TRADITIONAL_HOST"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DCComputingStyleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SUPER"/>
      <xsd:enumeration value="TRADITIONAL"/>
      <xsd:enumeration value="CLOUD"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RAMTypeVendor">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="KINGSTON"/>
      <xsd:enumeration value="SAMSUNG"/>
      <xsd:enumeration value="HYNIX"/>
      <xsd:enumeration value="GENERIC"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SUInterfaceType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SATA"/>
      <xsd:enumeration value="ATA"/>
      <xsd:enumeration value="IDE"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="OperatingSystemTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="WINDOWS"/>
      <xsd:enumeration value="LINUX"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="PowerType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="VoltageType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="FrequencyType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="StorageCapacityType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="IoRateType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="EfficiencyType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="CoreLoadType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="ProcessingBandwidthType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="MemorySizeType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="NetworkTrafficType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="CpuUsageType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="StorageUsageType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="DiskIoRateType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="MemoryUsageType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="NetworkUsageType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
 
  
  <xsd:complexType name="FrequencyValuesType">
    <xsd:sequence>
      <xsd:element name="percent" type="xsd:int" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FIT4GreenType">
  <xsd:sequence >
    	<xsd:element ref="f4g:Site" minOccurs="0" maxOccurs="unbounded"/> 
    	<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    	<xsd:element name="version" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SiteType">
  	<xsd:sequence >
    	<xsd:element  name="PUE" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    	<xsd:element  name="energySourceFactor" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    	<xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
    	<xsd:element ref="f4g:Datacenter" minOccurs="0" maxOccurs="unbounded"/> 
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatacenterType" >
  	<xsd:sequence >
    	<xsd:element  name="computingStyle" type="f4g:DCComputingStyleType" minOccurs="1" maxOccurs="1"/>
    	<xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
    	<xsd:element ref="f4g:Rack" minOccurs="0" maxOccurs="unbounded"/>  
    	<xsd:element ref="f4g:TowerServer" minOccurs="0" maxOccurs="unbounded"/>  
    	<xsd:element ref="f4g:BoxRouter" minOccurs="0" maxOccurs="unbounded"/>  
    	<xsd:element ref="f4g:BoxSwitch" minOccurs="0" maxOccurs="unbounded"/>    
    	<xsd:element ref="f4g:FrameworkCapabilities" minOccurs="0" maxOccurs="unbounded"/> 
    	<xsd:element ref="f4g:NetworkLoad" minOccurs="0" maxOccurs="1"/>      	
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RackType">
  	<xsd:sequence >
  		<xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
    	<xsd:element ref="f4g:RackableServer" minOccurs="0" maxOccurs="unbounded"/> 
    	<xsd:element ref="f4g:Fan" minOccurs="0" maxOccurs="unbounded"/>
    	<xsd:element ref="f4g:WaterCooler" minOccurs="0" maxOccurs="unbounded"/>
    	<xsd:element ref="f4g:RackableRouter" minOccurs="0" maxOccurs="unbounded"/> 
    	<xsd:element ref="f4g:RackableSwitch" minOccurs="0" maxOccurs="unbounded"/>   
    	<xsd:element ref="f4g:SAN" minOccurs="0" maxOccurs="unbounded"/> 
    	<xsd:element ref="f4g:Enclosure" minOccurs="0" maxOccurs="unbounded"/> 
    	<xsd:element ref="f4g:PDU" minOccurs="0" maxOccurs="unbounded"/>  	
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ServerType">
  	<xsd:sequence>
    	<xsd:element  name="name" type="f4g:ServerRoleType" minOccurs="1" maxOccurs="1"/>
    	<xsd:element  name="status" type="f4g:ServerStatusType" minOccurs="1" maxOccurs="1"/>
    	<xsd:element name="frameworkID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    	<xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
        <xsd:element  name="measuredPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
    	<xsd:element ref="f4g:Mainboard" minOccurs="0" maxOccurs="unbounded"/> 
    	<xsd:choice minOccurs="0" maxOccurs="1">
	    	<xsd:element ref="f4g:NativeOperatingSystem" minOccurs="1" maxOccurs="1"/>
	    	<xsd:element ref="f4g:NativeHypervisor" minOccurs="1" maxOccurs="1"/>
    	</xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="frameworkRef" type="xsd:IDREF" use="required"/>  	
  </xsd:complexType>
  <xsd:complexType name="CPUType">
  	<xsd:sequence>
  		<xsd:element  name="frameworkID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="architecture" type="f4g:CPUArchitectureType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="DVFS" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="lithography" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerIdle" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerMax" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="cpuUsage" type="f4g:CpuUsageType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element ref="f4g:Core" minOccurs="1" maxOccurs="unbounded"/> 
	    <xsd:element ref="f4g:Cache" minOccurs="0" maxOccurs="unbounded"/>   
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RAMStickType">
  	<xsd:sequence>
	    <xsd:element  name="voltage" type="f4g:VoltageType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="size" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="type" type="f4g:RAMTypeType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="frequency" type="f4g:FrequencyType" minOccurs="1" maxOccurs="1"/>
        <xsd:element  name="isBuffered" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="vendor" type="f4g:RAMTypeVendor" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
	 </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HardDiskType">
    <xsd:complexContent>
      <xsd:extension base="f4g:StorageUnitType">
      	<xsd:sequence>
	        <xsd:element  name="rpm" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="AAM" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="Platters" type="xsd:int" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StorageUnitType">
  	<xsd:sequence>
  		<xsd:element  name="frameworkID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="storageCapacity" type="f4g:StorageCapacityType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="maxReadRate" type="f4g:IoRateType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="maxWriteRate" type="f4g:IoRateType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="readRate" type="f4g:IoRateType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="writeRate" type="f4g:IoRateType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="onboardCPU" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	    <xsd:element name="IOChannels" type="xsd:double" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerIdle" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerMax" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element name="interface" type="f4g:SUInterfaceType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element ref="f4g:Cache" minOccurs="0" maxOccurs="unbounded"/>        
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MainboardType">
  	<xsd:sequence>
  		<xsd:element  name="frameworkID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="powerIdle" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerMax" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="memoryUsage" type="f4g:MemoryUsageType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element ref="f4g:NIC" minOccurs="0" maxOccurs="unbounded"/> 
	    <xsd:element ref="f4g:HardwareRAID" minOccurs="0" maxOccurs="unbounded"/>  
        <xsd:element ref="f4g:SolidStateDisk" minOccurs="0" maxOccurs="unbounded"/> 
        <xsd:element ref="f4g:HardDisk" minOccurs="0" maxOccurs="unbounded"/> 
	    <xsd:element ref="f4g:CPU" minOccurs="0" maxOccurs="unbounded"/> 
	    <xsd:element ref="f4g:RAMStick" minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element ref="f4g:GPU" minOccurs="0" maxOccurs="unbounded"/>       
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PSUType">
  	<xsd:sequence>
	    <xsd:element  name="load" type="xsd:double" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="continousPower" type="xsd:double" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="peakPower" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="efficiency" type="f4g:EfficiencyType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="redundancy" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="measuredPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element ref="f4g:Fan" minOccurs="0" maxOccurs="unbounded"/>
    	<xsd:element ref="f4g:WaterCooler" minOccurs="0" maxOccurs="unbounded"/> 
	 </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FanType">
    <xsd:complexContent>
      <xsd:extension base="f4g:CoolingSystemType">
      	<xsd:sequence>
	        <xsd:element  name="maxRPM" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	        <xsd:element  name="actualRPM" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	        <xsd:element  name="powerIdle" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	        <xsd:element  name="powerMax" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	        <xsd:element  name="width" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	        <xsd:element  name="depth" type="xsd:int" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CoolingSystemType">
      <xsd:sequence>
          <xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
  </xsd:complexType>        
  <xsd:complexType name="RAIDType">
  	<xsd:sequence>
	    <xsd:element  name="level" type="xsd:int" minOccurs="1" maxOccurs="1"/>
        <xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="f4g:SolidStateDisk" minOccurs="0" maxOccurs="unbounded"/> 
        <xsd:element ref="f4g:HardDisk" minOccurs="0" maxOccurs="unbounded"/>         
 	     
	</xsd:sequence>
	<xsd:attribute name="Id" type="xsd:ID" use="required"/>  	
  </xsd:complexType>
  <xsd:complexType name="CacheType">
  	<xsd:sequence>
	    <xsd:element name="level" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element name="size" type="xsd:int" minOccurs="1" maxOccurs="1"/>
		<xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CoreType">
  	<xsd:sequence>
  		<xsd:element  name="frameworkID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="voltage" type="f4g:VoltageType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="frequency" type="f4g:FrequencyType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="coreLoad" type="f4g:CoreLoadType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element ref="f4g:Cache" minOccurs="0" maxOccurs="unbounded"/>  
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SolidStateDiskType">
    <xsd:complexContent>
      <xsd:extension base="f4g:StorageUnitType">
      	<xsd:sequence>
	        <xsd:element  name="powerByRead" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	        <xsd:element  name="powerByWrite" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TowerServerType">
    <xsd:complexContent>
      <xsd:extension base="f4g:ServerType">
      	<xsd:sequence>
	        <xsd:element ref="f4g:PSU" minOccurs="0" maxOccurs="unbounded"/>
	    	<xsd:element ref="f4g:Fan" minOccurs="0" maxOccurs="unbounded"/>
    		<xsd:element ref="f4g:WaterCooler" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BladeServerType">
    <xsd:complexContent>
      <xsd:extension base="f4g:ServerType">      	
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RackableServerType">
    <xsd:complexContent>
      <xsd:extension base="f4g:ServerType">
      	<xsd:sequence>
	        <xsd:element ref="f4g:PSU" minOccurs="0" maxOccurs="unbounded"/>
	    	<xsd:element ref="f4g:Fan" minOccurs="0" maxOccurs="unbounded"/>
    		<xsd:element ref="f4g:WaterCooler" minOccurs="0" maxOccurs="unbounded"/> 
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnclosureType">
  	<xsd:sequence>
	    <xsd:element  name="powerIdle" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerMax" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element name="frameworkID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="measuredPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element ref="f4g:BladeServer" minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element ref="f4g:NIC" minOccurs="0" maxOccurs="unbounded"/> 
	    <xsd:element ref="f4g:PSU" minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element ref="f4g:Fan" minOccurs="0" maxOccurs="unbounded"/> 
	    <xsd:element ref="f4g:WaterCooler" minOccurs="0" maxOccurs="unbounded"/>
	</xsd:sequence>
	<xsd:attribute name="frameworkRef" type="xsd:IDREF" use="optional"/> 
  </xsd:complexType>
  <xsd:complexType name="SANType">
  	<xsd:sequence>
	    <xsd:element  name="opticalPorts" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="ethernetLinks" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerIdle" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerMax" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
		<xsd:element  name="measuredPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>		
	    <xsd:element ref="f4g:NIC" minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element ref="f4g:PSU" minOccurs="0" maxOccurs="unbounded"/> 
	    <xsd:element ref="f4g:RAID" minOccurs="0" maxOccurs="unbounded"/> 
        <xsd:element ref="f4g:SolidStateDisk" minOccurs="0" maxOccurs="unbounded"/> 
        <xsd:element ref="f4g:HardDisk" minOccurs="0" maxOccurs="unbounded"/>              
	</xsd:sequence>
	<xsd:attribute name="frameworkRef" type="xsd:IDREF" use="optional"/> 
  </xsd:complexType>
  <xsd:complexType name="PDUType">
  	<xsd:sequence>
	    <xsd:element  name="capacity" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerIdle" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerMax" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="actualPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>    
	    <xsd:element  name="monitoredPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>    
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BoxNetworkType">
    <xsd:complexContent>
      <xsd:extension base="f4g:NetworkNodeType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NetworkNodeType">
  	<xsd:sequence>
	    <xsd:element  name="processingBandwidth" type="f4g:ProcessingBandwidthType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerIdle" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerMax" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="forwardFlag" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	    <xsd:element name="frameworkID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		<xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>
		<xsd:element  name="measuredPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/> 
	    <xsd:element ref="f4g:Fan" minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element ref="f4g:WaterCooler" minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element ref="f4g:PSU" minOccurs="0" maxOccurs="unbounded"/>  
	    <xsd:element ref="f4g:NetworkPort" minOccurs="0" maxOccurs="unbounded"/>   
	 </xsd:sequence>
	 <xsd:attribute name="frameworkRef" type="xsd:IDREF" use="required"/> 
	 <xsd:attribute name="ID" type="xsd:ID" use="required"/>  	
  </xsd:complexType>
  <xsd:complexType name="RackableNetworkType">
    <xsd:complexContent>
      <xsd:extension base="f4g:NetworkNodeType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NICType">
    <xsd:complexContent>
      <xsd:extension base="f4g:NetworkNodeType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GPUType">
  	<xsd:sequence>
	    <xsd:element  name="coreFrequency" type="f4g:FrequencyType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="memoryFrequency" type="f4g:FrequencyType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="shaderFrequency" type="f4g:FrequencyType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="coreVoltage" type="f4g:VoltageType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="memoryVoltage" type="f4g:VoltageType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="memorySize" type="f4g:MemorySizeType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="computedPower" type="f4g:PowerType" minOccurs="0" maxOccurs="1"/>    
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NetworkPortType">
  	<xsd:sequence>
	    <xsd:element  name="lineCapacity" type="f4g:NetworkTrafficType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerIdle" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerMax" type="f4g:PowerType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="portID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="trafficIn" type="f4g:NetworkTrafficType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="trafficOut" type="f4g:NetworkTrafficType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="bufferSize" type="xsd:double" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="bufferOccupancy" type="xsd:double" minOccurs="0" maxOccurs="1"/>
	    <xsd:element ref="f4g:Link" minOccurs="0" maxOccurs="1"/> 
	 </xsd:sequence>
	 <xsd:attribute name="NetworkPortRef" type="xsd:IDREF" />  
	 <xsd:attribute name="Id" type="xsd:ID" use="required"/> 	
  </xsd:complexType>
  <xsd:complexType name="ATMType">
    <xsd:complexContent>
      <xsd:extension base="f4g:NetworkPortType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VPNType">
    <xsd:complexContent>
      <xsd:extension base="f4g:NetworkPortType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RackableSwitchType">
    <xsd:complexContent>
      <xsd:extension base="f4g:RackableNetworkType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RackableRouterType">
    <xsd:complexContent>
      <xsd:extension base="f4g:RackableNetworkType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BoxSwitchType">
    <xsd:complexContent>
      <xsd:extension base="f4g:BoxNetworkType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BoxRouterType">
    <xsd:complexContent>
      <xsd:extension base="f4g:BoxNetworkType"  />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NativeOperatingSystemType">
    <xsd:complexContent>
      <xsd:extension base="f4g:OperatingSystemType">
      <xsd:sequence>
	      	<xsd:element ref="f4g:SoftwareApplication" minOccurs="0" maxOccurs="unbounded"/>
	      	<xsd:element ref="f4g:ClusterManagement" minOccurs="0" maxOccurs="unbounded"/>
	      	<xsd:element ref="f4g:Node" minOccurs="0" maxOccurs="unbounded"/> 
	      	<xsd:element ref="f4g:HostedHypervisor" minOccurs="0" maxOccurs="unbounded"/> 
	      </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OperatingSystemType">
  	<xsd:sequence>
	    <xsd:element name="name" type="f4g:OperatingSystemTypeType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="systemRAMBaseUsage" type="f4g:MemoryUsageType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element ref="f4g:FileSystem" minOccurs="0" maxOccurs="unbounded"/>  
	    <xsd:element ref="f4g:SoftwareRAID" minOccurs="0" maxOccurs="unbounded"/> 
	    <xsd:element ref="f4g:SoftwareNetwork" minOccurs="0" maxOccurs="unbounded"/>  
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HostedHypervisorType">
  	<xsd:sequence>
	    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	    <xsd:element name="frameworkID" type="xsd:string" minOccurs="1" maxOccurs="1" />
	    <xsd:element ref="f4g:VirtualMachine" minOccurs="0" maxOccurs="unbounded"/> 
	 </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NativeHypervisorType">
    <xsd:complexContent>
      <xsd:extension base="f4g:OperatingSystemType">
      <xsd:sequence>
	      	<xsd:element ref="f4g:VirtualMachine" minOccurs="0" maxOccurs="unbounded"/> 
	      </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VirtualMachineType">
  	<xsd:sequence>
	    <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="numberOfCPUs" type="xsd:int" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="actualCPUUsage" type="f4g:CpuUsageType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="actualStorageUsage" type="f4g:StorageUsageType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="actualDiskIORate" type="f4g:DiskIoRateType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="actualMemoryUsage" type="f4g:MemoryUsageType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element name="actualNetworkUsage" type="f4g:NetworkUsageType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element name="resourceClassID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	    <xsd:element ref="f4g:HostedOperatingSystem" minOccurs="1" maxOccurs="1"/>
	    <xsd:element name="frameworkID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	    <xsd:element name="cloudVmImage" type="xsd:string" minOccurs="0" maxOccurs="1" />
	    <xsd:element name="cloudVmType" type="xsd:string" minOccurs="0" maxOccurs="1" />
	 </xsd:sequence>
	 <xsd:attribute name="frameworkRef" type="xsd:IDREF" use="required"/> 
  </xsd:complexType>
  <xsd:complexType name="FileSystemType">
  	<xsd:sequence>
	    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="fragmentation" type="xsd:double" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="size" type="xsd:double" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="free" type="xsd:double" minOccurs="1" maxOccurs="1"/> 	
	 </xsd:sequence>
	 	    <xsd:attribute name="RAIDRef" type="xsd:IDREF" use="optional"/> 
  </xsd:complexType>
  <xsd:complexType name="HostedOperatingSystemType">
    <xsd:complexContent>
      <xsd:extension base="f4g:OperatingSystemType">
	      <xsd:sequence>
	      	<xsd:element ref="f4g:SoftwareApplication" minOccurs="0" maxOccurs="unbounded"/>
	      </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SoftwareNetworkType">
  	<xsd:sequence>
	    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="switchFabricType" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SoftwareRAIDType">
    <xsd:complexContent>
      <xsd:extension base="f4g:RAIDType">
      	<xsd:sequence>
        	<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HardwareRAIDType"> 
    <xsd:complexContent>
      <xsd:extension base="f4g:RAIDType">
    	<xsd:sequence>
    		<xsd:element ref="f4g:Cache" minOccurs="0" maxOccurs="unbounded"/>  
     	</xsd:sequence>
     </xsd:extension>
   </xsd:complexContent> 
  </xsd:complexType>
  <xsd:complexType name="SoftwareApplicationType">
  	<xsd:sequence>
	    <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="numberOfCPUs" type="xsd:int" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="actualCPUUsage" type="f4g:CpuUsageType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element name="actualStorageUsage" type="f4g:StorageUsageType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="actualDiskIORate" type="f4g:DiskIoRateType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="actualMemoryUsage" type="f4g:MemoryUsageType" minOccurs="0" maxOccurs="1"/>
	    <xsd:element  name="actualNetworkUsage" type="f4g:NetworkUsageType" minOccurs="0" maxOccurs="1"/>
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="e80211xType">
    <xsd:complexContent>
      <xsd:extension base="f4g:NetworkPortType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EthernetType">
    <xsd:complexContent>
      <xsd:extension base="f4g:NetworkPortType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TunnelType">
    <xsd:complexContent>
      <xsd:extension base="f4g:NetworkPortType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SerialPPPType">
    <xsd:complexContent>
      <xsd:extension base="f4g:NetworkPortType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OpticalFDDIType">
    <xsd:complexContent>
      <xsd:extension base="f4g:NetworkPortType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EmbeddedGPUType">
    <xsd:complexContent>
      <xsd:extension base="f4g:GPUType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DedicatedGPUType">
    <xsd:complexContent>
      <xsd:extension base="f4g:GPUType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JobType">
  	<xsd:sequence>
	    <xsd:element  name="numberOfNodes" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="propertiesOfNodes" type="f4g:JobPropOfNodesType" minOccurs="1" maxOccurs="unbounded"/>
	    <xsd:element  name="neededMemory" type="xsd:long" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="neededCoresPerNode" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="neededCPUSpeed" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="wallTime" type="xsd:long" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="timeOfSubmission" type="xsd:long" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="timeOfStart" type="xsd:long" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="status" type="f4g:JobStatusType" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="priority" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element name="frameworkID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	 </xsd:sequence>
	 <xsd:attribute name="frameworkRef" type="xsd:IDREF" use="required"/> 
	 <xsd:attribute name="Id" type="xsd:ID" use="required"/>  
  </xsd:complexType>
  <xsd:complexType name="QueueType">
  	<xsd:sequence>
	    <xsd:element  name="priority" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="possibleProperties" type="f4g:QueuePossiblePropType" minOccurs="1" maxOccurs="unbounded"/>
	    <xsd:element  name="forcedProperties" type="f4g:QueueForcedPropType" minOccurs="1" maxOccurs="unbounded"/>
	    <xsd:element  name="wallTimeLimit" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="numberOfNodesLimit" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="jobs" type="f4g:JobType" minOccurs="0" maxOccurs="unbounded"/>
	 </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RoleType">
  	<xsd:sequence>
    	<xsd:element  name="isMother" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NodeType">
    <xsd:complexContent>
      <xsd:extension base="f4g:SoftwareApplicationType">
      	<xsd:sequence>
	        <xsd:element  name="properties" type="f4g:NodePropType" minOccurs="1" maxOccurs="unbounded"/>
	        <xsd:element  name="status" type="f4g:NodeStatusType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="jobRef" type="xsd:IDREF" use="optional"/> 
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ClusterManagementType">
  	<xsd:complexContent>
      <xsd:extension base="f4g:SoftwareApplicationType">
  	  	<xsd:sequence>
      		<xsd:element name="queue" type="f4g:QueueType" minOccurs="1" maxOccurs="1"/>
    	</xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FrameworkCapabilitiesType">
    <xsd:sequence>
      <xsd:element name="frameworkName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="node" type="f4g:NodeActionsType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="vm" type="f4g:VMActionsType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="job" type="f4g:JobActionsType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="networkNode" type="f4g:GeneralActionsType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="NodeActionsType">
    <xsd:complexContent>
      <xsd:extension base="f4g:GeneralActionsType">
      	<xsd:sequence>
	        <xsd:element  name="boot" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	        <xsd:element  name="suspend" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	        <xsd:element  name="deactivate" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	        <xsd:element  name="activate" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	        <xsd:element name="setFrequencyValues" type="f4g:FrequencyValuesType" minOccurs="1" maxOccurs="1"/>
	        <xsd:element  name="shutdown" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>     
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeneralActionsType">
  	<xsd:sequence>
	    <xsd:element  name="powerOn" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="powerOff" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	</xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VMActionsType">
  	<xsd:sequence>
	    <xsd:element  name="liveMigrate" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="pause" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="resume" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="moveDump" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	 </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JobActionsType">
  	<xsd:sequence>
	    <xsd:element  name="start" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="stop" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WaterCoolerType">
    <xsd:complexContent>
      <xsd:extension base="f4g:CoolingSystemType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LinkType">
  	<xsd:sequence>
	    <xsd:element  name="propagationDelay" type="xsd:double" minOccurs="1" maxOccurs="1"/>
	    <xsd:element  name="bitErrorRate" type="xsd:double" minOccurs="1" maxOccurs="1"/>
	</xsd:sequence> 	
  </xsd:complexType>
  <xsd:complexType name="NetworkLoadType">
  	<xsd:sequence>
	    <xsd:element  ref="f4g:Flow" minOccurs="0" maxOccurs="unbounded"/>    
	</xsd:sequence> 
   </xsd:complexType>
  <xsd:complexType name="FlowType">
    <xsd:sequence>
      <xsd:element name="sourceNetworkNodeRef" type="xsd:IDREF"/>
      <xsd:element name="destinationNetworkNodeRef" type="xsd:IDREF"/>
	  <xsd:element  name="bandwidth" type="xsd:int" minOccurs="1" maxOccurs="1"/>
	</xsd:sequence>
  </xsd:complexType>
</xsd:schema>
